<article class="recipe">
  <div class="title">
    <h2>{{title}}</h2>
    <span>({{recipe-ingredients}})</span>
    <span>{{recipe-content}}</span>
  </div>
  <div class="meta">
    {{vote_count}} point(s) by {{user.username}} on {{format_date created_at}}
  </div>
</article>